section.section--initial-screen.flex.a-i__c
  .container.pd-200
    h1 Аренда техники на любой срок
    p Строительное оборудование: дизель-генераторы, компрессоры, виброплиты от ведущих мировых производителей 
  a(href='#goods').mouse-down
    .mousey 
      .scroller 
