section.section--rent.container.pd-200
  .flex.j-c__s-b.a-i__c.f-w__w
    .section--rent__img
      img(src='images/img-1.jpg' alt='')
    .section--rent__info
      h2 Больше, чем аренда
      p Цель нашей работы — подобрать для вас лучшее решение, обеспечить ваш объект необходимым оборудованием точно в срок, проконтролировать бесперебойную работу на каждом этапе эксплуатации и оказать высококвалифицированную поддержку в случае необходимости. 
  .flex
    ul.section--rent__list.flex.j-c__s-b
      li.section--rent__item.flex.f-d__c.a-i__c
        img(src='images/icon-1.png' alt='')
        p Доставим оборудование на ваш объект
      li.section--rent__item.flex.f-d__c.a-i__c
        img(src='images/icon-2.png' alt='')
        p Установим, подключим и настроим технику
      li.section--rent__item.flex.f-d__c.a-i__c
        img(src='images/icon-3.png' alt='')
        p Проконсультируем по вопросам эксплуатации
      li.section--rent__item.flex.f-d__c.a-i__c
        img(src='images/icon-4.png' alt='')
        p Профессиональное обслуживание, контроль 
    
