section.section--goods#goods.bg-pattern
  .container.pd-200.flex.j-c__c.f-w__w
    +goods-item('Дизель-генераторы','prod-1.png')
    +goods-item('Компрессоры','prod-2.png')
    +goods-item('Виброплиты','prod-3.png')
  
