section.section--goods#goods
  .container.pd-200.flex.j-c__c.f-w__w
    +goods-item('Дизель-генераторы','prod-1.jpg')
    +goods-item('Компрессоры','prod-2.jpg')
    +goods-item('Виброплиты','prod-3.jpg')
  
