section.section--shema
  .container.pd-200.flex.f-d__c.a-i__c
    h2 Схема работы 
      span STERH
    ul.section--shema__list.flex
      li.section--shema__item.flex.j-c__c.a-i__c
        p Вы описываете ваши задачи,время и сроки реализации
      li.section--shema__item.flex.j-c__c.a-i__c
        p Наш специалист помогает выбрать оптимальное оборудование 
      li.section--shema__item.flex.j-c__c.a-i__c
        p Уточняем условия, подписываем договор, передаем документацию
      li.section--shema__item.flex.j-c__c.a-i__c
        p Подготавливаем оборудование. Внесение оплаты аренды, доп. услуг
      li.section--shema__item.flex.j-c__c.a-i__c
        p Доставляем заказ, установливаем и передаем технику в эксплуатацию
