@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-style: normal;

    src: url('HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'), url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Medium.woff') format('woff'), url('HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
    font-style: normal;

    src: url('HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'), url('HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Heavy.woff') format('woff'), url('HelveticaNeueCyr-Heavy.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
    font-style: italic;

    src: url('HelveticaNeueCyr-HeavyItalic.eot');
    src: local('HelveticaNeueCyr-HeavyItalic'), url('HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-HeavyItalic.woff') format('woff'), url('HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
    font-style: normal;

    src: url('HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'), url('HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Black.woff') format('woff'), url('HelveticaNeueCyr-Black.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 200;
    font-style: italic;

    src: url('HelveticaNeueCyr-UltraLightItalic.eot');
    src: local('HelveticaNeueCyr-UltraLightItalic'), url('HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-UltraLightItalic.woff') format('woff'), url('HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
    font-style: italic;

    src: url('HelveticaNeueCyr-BlackItalic.eot');
    src: local('HelveticaNeueCyr-BlackItalic'), url('HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-BlackItalic.woff') format('woff'), url('HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 100;
    font-style: italic;

    src: url('HelveticaNeueCyr-ThinItalic.eot');
    src: local('HelveticaNeueCyr-ThinItalic'), url('HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-ThinItalic.woff') format('woff'), url('HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-style: italic;

    src: url('HelveticaNeueCyr-MediumItalic.eot');
    src: local('HelveticaNeueCyr-MediumItalic'), url('HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-MediumItalic.woff') format('woff'), url('HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
    font-style: italic;

    src: url('HelveticaNeueCyr-LightItalic.eot');
    src: local('HelveticaNeueCyr-LightItalic'), url('HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-LightItalic.woff') format('woff'), url('HelveticaNeueCyr-LightItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 200;
    font-style: normal;

    src: url('HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'), url('HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-UltraLight.woff') format('woff'), url('HelveticaNeueCyr-UltraLight.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
    font-style: italic;

    src: url('HelveticaNeueCyr-BoldItalic.eot');
    src: local('HelveticaNeueCyr-BoldItalic'), url('HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-BoldItalic.woff') format('woff'), url('HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-style: italic;

    src: url('HelveticaNeueCyr-Italic.eot');
    src: local('HelveticaNeueCyr-Italic'), url('HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Italic.woff') format('woff'), url('HelveticaNeueCyr-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    font-style: normal;

    src: url('HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'), url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Roman.woff') format('woff'), url('HelveticaNeueCyr-Roman.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
    font-style: normal;

    src: url('HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'), url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Bold.woff') format('woff'), url('HelveticaNeueCyr-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
    font-style: normal;

    src: url('HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'), url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Light.woff') format('woff'), url('HelveticaNeueCyr-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 100;
    font-style: normal;

    src: url('HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'), url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('HelveticaNeueCyr-Thin.woff') format('woff'), url('HelveticaNeueCyr-Thin.ttf') format('truetype');
}

*
{
    font-size: 100%;
    line-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;

    border: 0;
    outline: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'HelveticaNeueCyr', sans-serif;
}

::-moz-selection
{
    color: #333;
    background: #f1f6f9;
}

::selection
{
    color: #333;
    background: #f1f6f9;
}

img,
video
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}

input,
select
{
    border: 0;
    outline: 0;
}

input[type='submit'] + label
{
    cursor: pointer;
}

.grid
{
    display: grid;
}

.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.f-w__w
{
    flex-wrap: wrap;
}

.j-c__s-b
{
    justify-content: space-between;
}

.j-c__c
{
    justify-content: center;
}

.j-c__f-e
{
    justify-content: flex-end;
}

.f-d__c
{
    flex-direction: column;
}

.a-i__f-e
{
    align-items: flex-end;
}

.a-i__c
{
    align-items: center;
}

.p__r
{
    position: relative;
}

.z-i__-1
{
    z-index: -1;
}

.z-i__-2
{
    z-index: -2;
}

.z-i__0
{
    z-index: 0;
}

.z-i__1
{
    z-index: 1;
}

.z-i__2
{
    z-index: 2;
}

.f__r
{
    float: right;
}

.f__l
{
    float: left;
}

.bg-dark:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .2;
    background: #000;
}

.b-line
{
    position: relative;
}

.b-line:after
{
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 0;
    height: 2px;

    content: '';
    transition: .33s;

    background: #fff;
}

.b-line:hover:after,
.b-line:focus:after
{
    width: 100%;
}

.pd-200
{
    padding-right: 200px;
    padding-left: 200px;
}

.pd-85
{
    padding-right: 85px;
    padding-left: 85px;
}

:root
{
    --green: #98cb01;
}

.bg-pattern:before
{
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .1;
    background: url('../svg/pattern.svg') fixed #f6f6f6;
}

.container
{
    right: 0;
    left: 0;

    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.button--nav
{
    font-size: 0.875rem;

    color: #0456a0;
}

.button--blue
{
    font-size: 0.875rem;

    padding: 12px 22px;

    text-transform: uppercase;

    color: #fff;
    background: #0456a0;
}

.header
{
    position: absolute;
    z-index: 9;
    top: 0;

    padding-top: 35px;
}

.header .logo
{
    margin-right: 70px;
}

.header .logo img
{
    -o-object-fit: contain;
       object-fit: contain;
}

.header__item
{
    margin-right: 25px;
}

.header__item a
{
    font-size: 0.875rem;
    font-weight: 700;

    color: #fff;
}

.header__right
{
    text-align: right;
}

.header__contacts a
{
    color: #fff;
}

.header__contacts a.tel
{
    font-size: 1.125rem;
    font-weight: 700;
}

.header__contacts a.mail
{
    font-size: 0.75rem;

    margin-top: 5px;
}

.button-leed
{
    font-size: 0.875rem;
    line-height: 0.1875rem;

    position: relative;

    width: 120px;
    height: 40px;
    margin-top: -6px;

    transition: .33s;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);

    color: #fff;
    background: #1781e1;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.button-leed:hover,
.button-leed:focus
{
    background: #3f98e9;
}

.button-leed:before
{
    display: block;

    width: 16px;
    height: 16px;
    margin-right: 15px;

    content: '';
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

    background: url('../images/phone-receiver.png');
}

.footer
{
    padding-top: 55px;
    padding-bottom: 35px;

    background: #222;
}

.footer__list
{
    margin-right: 50px;
}

.footer__list:last-child
{
    margin-right: 0;
}

.footer__item
{
    margin-top: 10px;
}

.footer__item:first-child
{
    margin-top: 0;
}

.footer__item a
{
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: #fff;
}

.footer__right
{
    text-align: right;
}

.footer__bottom
{
    margin-top: 50px;
}

.footer__bottom p
{
    font-size: 0.875rem;

    color: #787878;
}

.footer__bottom a
{
    font-size: 0.875rem;

    color: #5e5e5e;
}

.footer__bottom a span
{
    font-weight: 700;

    color: #2883d6;
}

.section--initial-screen
{
    position: relative;

    height: 740px;
}

.section--initial-screen:before
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url('../images/back.jpg') fixed 0 0/cover;
}

.section--initial-screen .initial-screen__info
{
    position: relative;

    max-width: 340px;
    margin-left: 80px;
    padding-top: 45px;

    border-top: 2px solid #fff;
}

.section--initial-screen .initial-screen__info:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 2px;
    height: 50%;

    content: '';

    background: #fff;
}

.section--initial-screen .initial-screen__info:after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 2px;
    height: 12%;

    content: '';

    background: #fff;
}

.section--initial-screen .initial-screen__info--text:after
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 53px;
    height: 2px;

    content: '';
    -webkit-transform: rotate(-45deg) translate(18px, -8px);
            transform: rotate(-45deg) translate(18px, -8px);

    background: #fff;
}

.section--initial-screen .initial-screen__info p
{
    max-width: 100%;
    margin-left: 0;
}

.section--initial-screen .initial-screen__info h1
{
    margin-left: -80px;
}

.section--initial-screen .initial-screen__info h1:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: calc(100% - 38px);
    height: 2px;

    content: '';

    background: #fff;
}

.section--initial-screen .initial-screen__info h1:before
{
    position: absolute;
    top: 0;
    right: 0;

    width: 2px;
    height: calc(100% - 38px);

    content: '';

    background: #fff;
}

.section--initial-screen p
{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;

    position: relative;

    max-width: 340px;
    margin-left: 80px;
    padding: 40px 30px;

    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.4);
}

.section--initial-screen p:before
{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;

    height: 310px;

    content: '';

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.25)));

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);

    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);

    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);
}

.section--initial-screen p:after
{
    position: absolute;
    right: 0;
    bottom: 0;

    content: '';

    border: 15px solid transparent;
    border-right-color: #ffcc57;
    border-bottom-color: #ffcc57;
}

.section--initial-screen h1
{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;

    max-width: 390px;

    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.mouse-down
{
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;

    width: 40px;
    height: 40px;
    margin: auto;
}

.mousey
{
    box-sizing: content-box;
    width: 3px;
    height: 35px;
    margin: auto;
    padding: 5px 13px;

    opacity: .75;
    border: 2px solid #fff;
    border-radius: 25px;
}

.scroller
{
    width: 3px;
    height: 10px;

    -webkit-animation-name: scroll;

            animation-name: scroll;
    -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
    -webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
            animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border-radius: 25%;
    background: #fff;
}

@-webkit-keyframes scroll
{
    0%
    {
        opacity: 0;
    }

    10%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }

    100%
    {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);

        opacity: 0;
    }
}

@keyframes scroll
{
    0%
    {
        opacity: 0;
    }

    10%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }

    100%
    {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);

        opacity: 0;
    }
}

.section--goods
{
    position: relative;

    padding-top: 120px;
    padding-bottom: 140px;
}

.section--goods:before
{
    position: absolute;
}

.section--goods .goods-item
{
    margin-right: 24px;
    padding: 30px 20px;

    transition: .33s;

    background: #fff;
    box-shadow: 0 20px 6px -10px rgba(0,0,0,.05);
}

.section--goods .goods-item:hover,
.section--goods .goods-item:focus
{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
}

.section--goods .goods-item:last-child
{
    margin-right: 0;
}

.section--goods .goods-item h3
{
    font-size: 1.125rem;

    text-align: center;

    color: #555;
}

.section--goods .goods-item__img
{
    max-width: 200px;
    max-height: 130px;
}

.section--goods .goods-item img
{
    margin-top: 20px;

    -o-object-fit: contain;

       object-fit: contain;
}

.section--goods .goods-item__list
{
    margin-top: 15px;
    padding-top: 25px;

    border-top: 1px solid #dadada;
}

.section--goods .goods-item__info
{
    width: 100%;
    margin-top: 20px;
}

.section--goods .goods-item p
{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;

    color: #444;
}

.section--rent__img
{
    position: relative;

    width: 340px;
    height: 340px;
    margin-top: -40px;
}

.section--rent__img:before
{
    position: absolute;
    top: 108px;
    right: -50px;

    width: 50px;
    height: 90px;

    content: '';

    background: #0456a0;
}

.section--rent__info
{
    max-width: 450px;
}

.section--rent__info h2
{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;

    color: #444;
}

.section--rent__info p
{
    font-size: 0.875rem;
    line-height: 1.5rem;

    margin-top: 20px;

    color: #444;
}

.section--rent__list
{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 90px;
}

.section--rent__item img
{
    max-width: 80px;
    max-height: 80px;
}

.section--rent__item p
{
    font-size: 0.875rem;
    line-height: 1.25rem;

    max-width: 170px;
    margin-top: 20px;

    text-align: center;

    color: #444;
}

.section--shema
{
    position: relative;

    padding-top: 80px;
    padding-bottom: 180px;
}

.section--shema:before
{
    position: absolute;
}

.section--shema h2
{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;

    color: #444;
}

.section--shema h2 span
{
    color: #0456a0;
}

.section--shema__list
{
    position: relative;

    margin-top: 110px;
}

.section--shema__list:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url('../images/shema-decor.png') no-repeat;
}

.section--shema__item
{
    position: relative;

    width: 150px;
    height: 150px;
    margin-right: 30px;

    border: 1px solid #0456a0;
    background: #fff;
    box-shadow: 0 20px 6px -10px rgba(0,0,0,.05);
}

.section--shema__item:before
{
    position: absolute;
    top: -10px;
    right: -10px;

    width: 40px;
    height: 40px;

    content: '';

    border-radius: 50%;
}

.section--shema__item:nth-child(1):before
{
    background: url('../images/schema-icon-1.png') no-repeat center #62a7e5;
}

.section--shema__item:nth-child(1):after
{
    content: '1';
}

.section--shema__item:nth-child(2):before
{
    background: url('../images/schema-icon-2.png') no-repeat center #62a7e5;
}

.section--shema__item:nth-child(2):after
{
    content: '2';
}

.section--shema__item:nth-child(3):before
{
    background: url('../images/schema-icon-3.png') no-repeat center #62a7e5;
}

.section--shema__item:nth-child(3):after
{
    content: '3';
}

.section--shema__item:nth-child(4):before
{
    background: url('../images/schema-icon-4.png') no-repeat center #62a7e5;
}

.section--shema__item:nth-child(4):after
{
    content: '4';
}

.section--shema__item:nth-child(5):before
{
    background: url('../images/schema-icon-5.png') no-repeat center #62a7e5;
}

.section--shema__item:nth-child(5):after
{
    content: '5';
}

.section--shema__item:after
{
    font-size: 4.5rem;
    font-weight: 700;

    position: absolute;
    right: 10px;
    bottom: -20px;

    height: 60px;

    opacity: .05;
    color: #444;
}

.section--shema__item:last-child
{
    margin-right: 0;
}

.section--shema__item:nth-child(even)
{
    margin-top: 60px;
}

.section--shema__item:nth-child(3)
{
    margin-top: -30px;
}

.section--shema__item p
{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;

    max-width: 125px;

    color: #444;
}

.section--advantages__tabs
{
    max-width: 1080px;
    height: 250px;
    margin-top: -60px;
    padding-right: 50px;
    padding-left: 200px;

    background: #0456a0;
}

.section--advantages__tabs .wrd-tabs__link
{
    font-size: 1rem;
    line-height: 1.5rem;

    width: 250px;
    padding-top: 7px;
    padding-right: 30px;
    padding-bottom: 7px;

    color: #fff;
    border-right: 1px solid #82aad0;
    text-shadow: 0 0 10px rgba(0,0,0,.15);
}

.section--advantages__tabs .wrd-tabs__link.active
{
    font-weight: 700;

    border-right: 2px solid #fff;
}

.section--advantages__tabs .wrd-tabs__content
{
    display: none;

    max-width: 540px;
}

.section--advantages__tabs .wrd-tabs__content p
{
    font-size: 0.875rem;
    line-height: 1.25rem;

    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.15);
}

.section--advantages__tabs .wrd-tabs__content.active
{
    display: block;
}

.section--advantages__seo-text
{
    padding-top: 80px;
    padding-bottom: 90px;
}

.section--advantages h2
{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;

    color: #444;
}

.section--advantages p
{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;

    margin-top: 20px;

    color: #444;
}

.section--advantages img
{
    float: right;

    max-width: 262px;
    max-height: 175px;
    margin-top: -66px;
    margin-left: 20px;
}

.bg-img
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    left: 0;

    height: 740px;
}

.bg-img:after
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: -webkit-gradient(linear, left top, left bottom, from(#02549e), to(rgba(216,216,216,0)));

    background: -webkit-linear-gradient(top, #02549e 0%, rgba(216,216,216,0) 100%);

    background: -o-linear-gradient(top, #02549e 0%, rgba(216,216,216,0) 100%);

    background: linear-gradient(180deg, #02549e 0%, rgba(216,216,216,0) 100%);
}

.page
{
    margin-top: 220px;
    margin-bottom: 150px;
    padding: 70px 60px;

    background: #fff;
    box-shadow: 0 20px 6px -10px rgba(0,0,0,.05);
}

.page h1
{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;

    margin-bottom: 50px;

    color: #444;
}

.page__item
{
    margin-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #dadada;
}

.page__item:last-child
{
    border-bottom: 0;
}

.page__item--left
{
    width: 245px;
}

.page__item h6
{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;

    margin-top: 15px;

    color: #0456a0;
}

.page__item h6:first-child
{
    margin-top: 0;
}

.page__item p
{
    font-size: 0.875rem;
    line-height: 1.25rem;

    margin-top: 15px;

    color: #444;
}

.page__item p:first-child
{
    margin-top: 0;
}

.page--news img:nth-child(2)
{
    margin-bottom: 30px;
}

.page--news p
{
    font-size: 0.875rem;
    line-height: 1.5rem;

    margin-top: 10px;

    color: #444;
}

.page--news .img--right
{
    max-width: 220px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.page--news .other-news
{
    margin-top: 60px;
    padding-top: 50px;

    border-top: 1px solid #dadada;
}

.page--product__left
{
    max-width: 370px;
}

.page--product__right
{
    max-width: 330px;
}

.page--product__right img
{
    max-height: 220px;
}

.page--product__discription
{
    margin-top: 25px;
    padding: 20px;

    border: 1px solid #dadada;
}

.page--product__discription p
{
    font-size: 0.75rem;
    line-height: 1.25rem;

    color: #444;
}

.page--product__chart
{
    margin-top: 25px;
}

.page--product__chart img
{
    max-width: 180px;
}

.page--product__chart p
{
    font-size: 0.75rem;
    line-height: 1.25rem;

    margin-left: 20px;

    color: #444;
}

.page--product__order
{
    margin-top: 25px;
}

.page--product__order .button--blue
{
    margin-left: 20px;
    padding: 12px 38px;
}

.page--product__conditions
{
    margin-top: 25px;
}

.page--product__conditions p
{
    font-size: 0.75rem;
    line-height: 1.25rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    color: #444;

    align-items: center;
}

.page--product__conditions p:before
{
    display: block;

    min-width: 25px;
    height: 25px;
    margin-right: 15px;

    content: '';

    border: 1px solid #0456a0;
    border-radius: 50%;
}

.page--product__speedbar
{
    margin-top: 35px;

    text-align: right;
}

.page--product__speedbar a,
.page--product__speedbar span
{
    font-size: 0.75rem;

    text-decoration: underline;

    color: #c8c8c8;
}

.news-article
{
    margin-top: 20px;
}

.news-article img
{
    width: 160px;
    height: 160px;
    margin-right: 30px;
}

.news-article__info h3
{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;

    color: #0456a0;
}

.news-article__info p
{
    font-size: 0.875rem;
    line-height: 1.5rem;

    margin-top: 10px;

    color: #444;
}

.news-article__info button
{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;

    display: inline-block;

    color: #0456a0;
    background: 0;
}

.initial-screen-catalog
{
    margin-bottom: 120px;
}

.initial-screen-catalog:before
{
    position: absolute;

    background: url('../images/catalog-bg.jpg') fixed bottom/cover;
}

.initial-screen-catalog:after
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: -webkit-gradient(linear, left top, left bottom, from(#02549e), to(rgba(216,216,216,0)));

    background: -webkit-linear-gradient(top, #02549e 0%, rgba(216,216,216,0) 100%);

    background: -o-linear-gradient(top, #02549e 0%, rgba(216,216,216,0) 100%);

    background: linear-gradient(180deg, #02549e 0%, rgba(216,216,216,0) 100%);
}

.initial-screen-catalog h1
{
    max-width: 462px;
    margin-top: 100px;
    margin-right: 20px;
}

.initial-screen-catalog p
{
    max-width: 410px;
}

.initial-screen-catalog p:before
{
    background: 0;
}

.product-card
{
    position: relative;

    margin-top: 20px;
    padding: 55px 50px;

    background: #fff;
    box-shadow: 0 20px 6px -10px rgba(0,0,0,.05);
}

.product-card img
{
    max-width: 210px;
    max-height: 140px;
}

.product-card__info
{
    width: 100%;
    margin-left: 40px;
}

.product-card__info h3
{
    font-size: 1.125rem;

    padding-bottom: 20px;

    color: #444;
    border-bottom: 1px solid #dadada;
}

.product-card__item
{
    margin-top: 15px;
}

.product-card__item p
{
    font-size: 0.875rem;
    line-height: 1.25rem;

    color: #444;
}

.product-card__item p:first-child
{
    min-width: 220px;
    margin-right: 40px;
}

.product-card .button--blue
{
    position: absolute;
    top: 0;
    right: 0;
}

.section--consultation
{
    margin-top: 120px;
    padding-top: 70px;
    padding-bottom: 60px;

    background: url('../images/consultation-bg.jpg') no-repeat center/cover #0456a0;

    background-blend-mode: multiply;
}

.section--consultation h2
{
    font-size: 2.25rem;
    font-weight: 300;

    color: #fff;
}

.section--consultation p
{
    font-size: 0.875rem;
    line-height: 1.25rem;

    margin-top: 20px;

    color: #fff;
}

.section--consultation .button--consultation
{
    font-size: 0.875rem;

    display: inline-block;

    margin-top: 30px;
    padding: 12px 19px;

    text-transform: uppercase;

    color: #fff;
    border: 1px solid #fff;
    background: #0456a0;
}

.page--contatcs .map
{
    max-width: 750px;
    height: 240px;
    margin-top: 35px;

    background: #f4f4f4;
}

@media (max-width: 1280px)
{
    .section--shema
    {
        display: none;
    }
}

@media (max-width: 1270px)
{
    .header .logo
    {
        margin-right: 30px;
    }
}

@media (max-width: 1220px)
{
    .pd-200
    {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 1075px)
{
    .section--advantages__tabs
    {
        padding-left: 40px;
    }

    .section--advantages__tabs .wrd-tabs
    {
        margin-right: 25px;
    }
}

@media (max-width: 965px)
{
    .product-card
    {
        padding: 45px 30px;
    }

    .product-card img
    {
        max-width: 120px;
    }
}

@media (max-width: 950px)
{
    .page--product__left
    {
        max-width: 330px;
    }

    .page h1
    {
        font-size: 2.0625rem;
    }

    .page__item--left
    {
        width: 168px;
        margin-right: 25px;
    }

    .section--goods .goods-item
    {
        width: calc(50% - 25px);
        min-width: 277px;
        margin-right: 50px;
    }

    .section--goods .goods-item__info
    {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .section--rent__img:before
    {
        display: none;
    }
}

@media (max-width: 950px) and (min-width: 661px)
{
    .section--goods .goods-item:nth-child(2)
    {
        margin-right: 0;
    }

    .section--goods .goods-item:last-child
    {
        width: 100%;
        max-height: 230px;
        margin-top: 50px;

        flex-wrap: wrap;
    }

    .section--goods .goods-item:last-child h3
    {
        margin-top: 22px;
    }

    .section--goods .goods-item:last-child .goods-item__img
    {
        padding-right: 50px;

        border-right: 1px solid #dadada;

        margin-rgiht: 50px;
    }

    .section--goods .goods-item:last-child .goods-item__list
    {
        padding-top: 20px;

        border-top: 0;
    }
}

@media (max-width: 900px)
{
    .footer .pd-85
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer .footer__list
    {
        max-width: 160px;
    }

    .footer .footer__bottom p
    {
        max-width: 430px;
    }

    .page
    {
        padding: 70px 25px;
    }

    .main--product .pd-200
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header__item
    {
        margin-right: 20px;
    }

    .button-leed
    {
        display: none;
    }

    .section--rent__img
    {
        width: 290px;
    }
}

@media (max-width: 860px)
{
    .section--rent__img
    {
        width: 240px;
    }
}

@media (max-width: 800px)
{
    .section--advantages img
    {
        margin-top: 0;
    }

    .section--rent__img
    {
        width: 160px;
    }

    .section--rent__item:last-child
    {
        display: none;
    }
}

@media (max-width: 760px)
{
    .page--news h1
    {
        font-size: 1.5625rem;
        line-height: 2.125rem;
    }

    .page
    {
        padding: 70px;
    }

    .page--product__left,
    .page--product__right
    {
        max-width: 100%;
    }

    .page--product__right
    {
        margin-top: 50px;
    }

    .page--product__right img
    {
        -o-object-fit: contain;
           object-fit: contain;
    }

    .page__item--left
    {
        width: 50%;
    }

    .main.bg-menu
    {
        opacity: .3;

        -webkit-filter: grayscale(1);

                filter: grayscale(1);
    }

    .header__nav
    {
        position: fixed;
        z-index: -5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .header__nav.active
    {
        z-index: 5;
    }

    .header__list
    {
        position: absolute;
        right: 20px;
        bottom: 0;
        left: 20px;

        flex-direction: column;

        padding: 50px;

        transition: .33s;
        -webkit-transform: scale(.5);
                transform: scale(.5);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;

        opacity: 0;
        background: #fff;
    }

    .header__list.active
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;
    }

    .header__list .header__item
    {
        margin-top: 20px;
        margin-right: 0;
    }

    .header__list .header__item a
    {
        font-size: 1.25rem;

        color: #424242;
    }

    .header .logo
    {
        margin-right: 0;
    }

    .header__hamburger
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        margin-left: 20px;

        cursor: pointer;

        background: 0;
    }

    .header__hamburger.active span
    {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    .header__hamburger.active:after
    {
        width: 50px;

        -webkit-transform: translate(0px, -12px) rotate(45deg);

                transform: translate(0px, -12px) rotate(45deg);
    }

    .header__hamburger.active:before
    {
        -webkit-transform: translate(0px, 10px) rotate(-45deg);
                transform: translate(0px, 10px) rotate(-45deg);
    }

    .header__hamburger:before
    {
        display: block;

        width: 50px;
        height: 4px;

        content: '';
        transition: .33s;

        background-color: #fff;
    }

    .header__hamburger:after
    {
        display: block;

        width: 40px;
        height: 4px;

        content: '';
        transition: .33s;

        background-color: #fff;
    }

    .header__hamburger span
    {
        display: block;

        width: 30px;
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;

        transition: .33s;

        background-color: #fff;
    }
}

@media (max-width: 725px)
{
    .news-article img
    {
        width: 100%;
    }

    .news-article__info
    {
        margin-top: 25px;
    }

    .news-article__info h3
    {
        font-size: 1rem;
    }

    .news-article a
    {
        flex-wrap: wrap;
    }

    .product-card img
    {
        max-width: 100%;
        max-height: 220px;

        -o-object-fit: contain;

           object-fit: contain;
    }

    .product-card__info
    {
        margin-top: 35px;
        margin-left: 0;
    }

    .product-card a
    {
        flex-direction: column;
    }

    .section--rent__img
    {
        width: 100%;
    }

    .section--rent__info
    {
        margin-top: 50px;
    }
}

@media (max-width: 700px)
{
    .other-news
    {
        flex-direction: column;
    }

    .other-news .button--blue
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .section--goods .goods-item
    {
        margin-right: 20px;
    }

    .section--goods .goods-item:last-child
    {
        margin-top: 20px;
    }

    .section--advantages__tabs
    {
        flex-direction: column;

        height: -webkit-max-content;

        height: -moz-max-content;

        height: max-content;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 660px)
{
    .footer .footer__list
    {
        margin-right: 20px;
    }

    .footer .footer__left,
    .footer .footer__bottom,
    .footer .container
    {
        flex-wrap: wrap;
    }

    .footer .footer__right
    {
        text-align: left;
    }

    .footer .footer__bottom a
    {
        margin-top: 20px;
    }

    .section--advantages img
    {
        float: inherit;
    }

    .section--goods .goods-item
    {
        width: 100%;
        margin-top: 40px;
        margin-right: 0;
    }
}

@media (max-width: 625px)
{
    .product-card
    {
        padding-bottom: 78px;
    }

    .product-card__item
    {
        flex-direction: column;
    }

    .product-card__item p:first-child
    {
        color: #8f8f8f;
    }

    .product-card .button--blue
    {
        top: inherit;
        bottom: 0;
        left: 0;

        width: 100%;
    }

    .section--rent__list
    {
        flex-wrap: wrap;
    }

    .section--rent__item
    {
        width: 50%;
    }

    .section--rent__item:nth-child(3),
    .section--rent__item:nth-child(4)
    {
        margin-top: 40px;
    }

    .section--rent__item:last-child
    {
        display: inherit;
    }
}

@media (max-width: 490px)
{
    .header__contacts a.mail
    {
        display: none;
    }

    .header__right
    {
        align-items: center;
    }

    .main--product .page__item h6
    {
        font-weight: 400;

        color: #8f8f8f;
    }

    .page__item
    {
        position: relative;
    }

    .page__item h6
    {
        margin-top: 23px;
    }

    .page__item p
    {
        margin-top: 23px;
    }

    .page__item--left
    {
        position: absolute;
        left: 0;

        width: 100%;
    }

    .page__item--right
    {
        margin-top: 25px;
    }

    .page--news .img--right
    {
        max-width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .page
    {
        padding: 20px;
    }

    .initial-screen-catalog h1
    {
        font-size: 2.8125rem;

        max-width: 100%;
        margin-right: 0;

        word-break: break-all;
    }

    .initial-screen-catalog p
    {
        margin-left: 0;
        padding: 40px 0;
    }
}

@media (max-width: 455px)
{
    .footer .container
    {
        text-align: center;

        justify-content: center;
    }

    .footer .footer__list
    {
        width: 100%;
        max-width: 100%;
        margin-right: 0;

        text-align: center;
    }

    .section--rent
    {
        padding-right: 0;
        padding-left: 0;
    }

    .section--rent__list
    {
        padding-right: 20px;
        padding-left: 20px;

        flex-wrap: wrap;
    }

    .section--rent__info
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .section--rent__item
    {
        width: 100%;
    }

    .section--rent__item:nth-child(2)
    {
        margin-top: 40px;
    }
}

@media (max-width: 425px)
{
    .page h1
    {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .pd-200
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .section--rent
    {
        padding-right: 0;
        padding-left: 0;
    }

    .section--initial-screen p
    {
        margin-left: 0;
    }
}

@media (max-width: 400px)
{
    .page--product__chart
    {
        flex-wrap: wrap;
        justify-content: center;
    }

    .page--product__chart p
    {
        max-width: 240px;
        margin-top: 10px;

        text-align: center;
    }

    .page--product__order
    {
        order: 2;
    }

    .page--product__order .button--nav
    {
        display: none;
    }

    .page--product__right
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        height: -webkit-max-content;

        height: -moz-max-content;

        height: max-content;
    }

    .page--product__order .button--blue
    {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 360px)
{
    .section--advantages__tabs
    {
        padding-left: 20px;

        align-items: flex-start;
    }

    .section--advantages__tabs .wrd-tabs
    {
        margin-right: 0;
    }
}

@media (max-width: 320px)
{
    .header .logo img
    {
        width: 30px;
        height: 30px;
    }
}
