.section--initial-screen
  position relative
  height 740px
  &:before
    content ''
    background-image url('../images/back.jpg')
    background-attachment fixed
    background-size cover
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -2
  // &:after
  //   content ''
  //   background-image linear-gradient(180deg, #02549e 0%, rgba(216, 216, 216, 0) 100%)
  //   position absolute
  //   top 0
  //   bottom 0
  //   left 0
  //   right 0
  //   z-index -1
  p
    text-shadow 0 0 10px rgba(0, 0, 0, 0.4)
    color #ffffff
    font-size 16px
    font-weight 700
    line-height 24px
    max-width 340px
    position relative
    padding 40px 30px
    margin-left 80px
    &:before
      content ''
      position absolute
      left 0
      right 0
      bottom 0
      z-index -1
      height 310px
      background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%)
    &:after
      content ''
      border 15px solid transparent
      border-right-color #ffcc57
      border-bottom-color #ffcc57
      right 0
      bottom 0
      position absolute
  h1
    max-width 390px
    text-shadow 0 0 10px rgba(0, 0, 0, 0.5)
    color #ffffff
    font-size 48px
    font-weight 700
    line-height 48px


.mouse-down
  position absolute
  bottom 40px
  left 0
  right 0
  margin auto
  width 40px
  height 40px


.mousey
  width 3px
  padding 5px 13px
  height 35px
  border 2px solid #fff
  border-radius 25px
  margin auto
  opacity 0.75
  box-sizing content-box

.scroller
  width 3px
  height 10px
  border-radius 25%
  background-color #fff
  animation-name scroll
  animation-duration 2.2s
  animation-timing-function cubic-bezier(.15,.41,.69,.94)
  animation-iteration-count infinite

@keyframes scroll
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(25px); opacity: 0;}
