.section--advantages
    &__tabs
      width 1080px
      height 250px
      background-color #0456a0
      margin-top -60px
      padding-left 200px
      padding-right 50px
      .wrd-tabs
          &__link
            text-shadow 0 0 10px rgba(0, 0, 0, 0.15)
            color #ffffff
            font-size 16px
            line-height 24px
            border-right 1px solid #82aad0
            padding-right 30px
            padding-top 7px
            padding-bottom 7px
            width 250px
            &.active
              font-weight 700
              border-right 2px solid #ffffff
          &__content
            display none
            max-width 540px
            p
              text-shadow 0 0 10px rgba(0, 0, 0, 0.15)
              color #ffffff
              font-size 14px
              line-height 20px
            &.active
              display block
    &__seo-text
      padding-top 80px
      padding-bottom 90px
    h2
      color #444444
      font-size 36px
      font-weight 700
      line-height 48px
    p
      color #444444
      font-size 14px
      line-height 20px
      font-weight 300
      margin-top 20px
    img
      max-width 262px
      max-height 175px
      float right
      margin-left 20px
      margin-top -66px
