

.news-article
  margin-top 20px
  img
    margin-right 30px
    width 160px
    height 160px
  &__info
    h3
      color #0456a0
      font-size 18px
      font-weight 700
      line-height 24px
    p
      color #444444
      font-size 14px
      line-height 24px
      margin-top 10px
    button
      color #0456a0
      font-weight 700
      font-size 14px
      line-height 24px
      background 0
      display inline-block
