.page--news
  img
    &:nth-child(2)
      margin-bottom 30px
  p
    color #444444
    font-size 14px
    line-height 24px
    margin-top 10px
  .img--right
    max-width 220px
    height max-content
  .other-news
    border-top 1px solid #dadada
    margin-top 60px
    padding-top 50px
  
