.page--partners
  h1
    span
      color #0456a0
  .h2--center
    text-align center
    margin-top 60px
    color #444444
    font-size 24px

  .list-main__item
    background-color #f6f6f6
    padding 25px 30px
    width 33%
    &.item--blue
      background-color #0456a0
      h6,p
        color #fff

    h6
      color #444444
      font-size 18px
      font-weight 700
      margin-bottom 12px
    p
      color #444444
      font-size 14px
      line-height 28px
      margin-top 5px
      font-weight 300

  .partners__list-today
    margin-top 50px
  .list-today__item
    padding 5px 30px
    width 33%
    border-right 1px solid #dadada
    position: relative;
    &:before
      content ''
      z-index:  0
      position: absolute;
      margin auto
      top 0
      bottom 0
      display: flex
      justify-content: center
      align-items center
      left 0
      right 0
    &:nth-child(1)
      &:before
        content '100'
        opacity 0.05
        color #444444
        font-size 72px
        font-weight 700

    &:nth-child(2)
      &:before
        background-image url('../images/partner-decor-1.jpg')
        background-position: center
        background-repeat no-repeat

    &:nth-child(3)
      &:before
        background-image url('../images/partner-decor-2.jpg')
        background-position: center
        background-repeat no-repeat

    &:last-child
      border-right 0
    p
      color #444444
      font-size 14px
      line-height 24px
      text-align center
      position: relative;
      z-index: 1
  .partners-img
    margin-top 60px
    img
      max-width: max-content
      margin-right 15px
      &:last-child
        margin-right 0
  .partners__botton
    background 0
    margin-top 60px
    span
      color #0456a0
      font-size 24px
      line-height 32px
      padding-bottom 2px
      border-bottom 1px solid
    &:before
      content ''
      display block
      background url('../images/contract.jpg')
      width 40px
      height 40px
      margin-right 15px
