.page--news
  img
    &:nth-child(2)
      margin-bottom 30px
  p
    color #444444
    font-size 14px
    line-height 24px
    margin-top 10px
  .img--right
    max-width 220px
    height max-content
  .other-news
    border-top 1px solid #dadada
    margin-top 60px
    padding-top 50px
  .button--nav
    color #0456a0
    font-size 14px
  .button--blue
    background-color #0456a0
    color #ffffff
    font-size 14px
    padding 12px 22px
    text-transform uppercase
