footer.footer
  .container.flex.j-c__s-b.pd-85
    .footer__left.flex
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Главная
        li.footer__item
          a(href='#').b-line О компании 
        li.footer__item
          a(href='#').b-line Контакты
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Дизельные генераторы 
        li.footer__item
          a(href='#').b-line Компрессоры
        li.footer__item
          a(href='#').b-line Виброплиты
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Партнерам 
        li.footer__item
          a(href='#').b-line Политика конфиденциальности
        li.footer__item
          a(href='#').b-line Новости
    .footer__right 
      ul.footer__list 
        li.footer__item
          a(href='#').b-line 8 (812) 000-00-00
        li.footer__item
          a(href='#').b-line СПБ, Дворцовая пл., д. 12, офис 314
        li.footer__item
          a(href='#').b-line service@sterh.net 
  .footer__bottom.container.flex.j-c__s-b.pd-85
    p 2018 г. Копирование материалов сайта только с письменного разрешения владельца 
    a(href="#") Разработано в 
      span Pixelaria
    
script(src='js/lib.min.js')
