include mixins.pug
header.header.container.pd-200.flex.j-c__s-b.a-i__c
  .header__left.flex 
    a(href='index.html').logo
      img(src='images/header-logo.png' alt='')
    nav.header__nav.flex.a-i__c
      ul.header__list.flex
        li.header__item.b-line
          a(href='catalog.html') Оборудование
        li.header__item.b-line
          a(href='#') О нас
        li.header__item.b-line
          a(href='category-news.html') Новости
        li.header__item.b-line
          a(href='contacts.html') Контакты
        li.header__item.b-line
          a(href='#') Партнерам
  .header__right.flex
    button.button-leed.flex.a-i__c.j-c__c Заказать 
    .header__contacts.flex.f-d__c
      a(href='tel:+78123334546').tel 8 (812) 333-45-46 
      a(href='mailto:e.belenkov@sterh.net').mail  e.belenkov@sterh.net
