doctype html
html(lang='ru')
  head
    include inc/head.pug
    title Категория новостей
  body 
    include inc/header.pug
    main.main.bg-pattern
      .bg-img 
        img(src='images/initial-screen.jpg' alt='')
      .container.pd-200
        .page.page--contatcs
          h1 Контакты
          ul.page__list.list--contatcs
            li.page__item.item--contatcs.flex
              .page__item--left
                h6 Телефон:
              .page__item--right
                p 8 (812) ХХХ-ХХ-ХХ (основной офис, отдел продаж)
                p 8 (921) 921-78-72 (генеральный директор)
                p 8 (ХХХ) ХХХ-ХХ-ХХ (круглосуточная сервисная служба)
            li.page__item.item--contatcs.flex
              .page__item--left
                h6 Email:
              .page__item--right
                p e.belenkov@sterh.net (XXX XXX)
                p service@sterh.net (сервисная служба)
            li.page__item.item--contatcs.flex
              .page__item--left
                h6 Время работы:
                h6 Адрес: 
              .page__item--right
                p С Х до Х без выходных 
                p Индекс, Санкт-Петерубург, ул. ХХХ, д. Х, к. Х
            li.page__item.item--contatcs.flex
              .page__item--left
                h6 Резвизиты: 
              .page__item--right
                p ХХХХ ХХХХХХХХХХ ХХХХХХХХХ  
                p ХХХХХХХХ ХХХХХХХХХ ХХХХХХХХХХ ХХХХХХХХХ 
                p ХХХХ ХХХХХХХХХХ ХХХХХХХХХ  
                p ХХХХХХХХ ХХХХХХХХХ ХХХХХХХХХХ ХХХХХХХХХ 
                p ХХХХ ХХХХХХХХХХ ХХХХХХХХХ  
                p ХХХХХХХХ ХХХХХХХХХ ХХХХХХХХХХ ХХХХХХХХХ 
    
          .map
    include inc/footer.pug
            
