doctype html
html(lang='ru')
  head
    include inc/head.pug
    title Категория новостей
  body 
    include inc/header.pug
    main.main.bg-pattern
      .bg-img 
        img(src='images/bg-category-news.jpg' alt='')
      .container.pd-200
        .page.page--news
          h1 «Компания Стерх поздравляет своих клиентов и всех строителей с профессиональным праздником!»
          img(src='images/news-image.jpg' alt='')
          p Уплотнение грунта при дорожном строительстве, работа с асфальтовым покрытием, укладка тротуарной плитки. Ни одна из этих работ не может обойтись без такого строительного оборудования как виброплита. Арендный парк компании Стерх обеспечит Вас виброплитами массой от 90 до 500 кг Уплотнение грунта при дорожном строительстве, работа с асфальтовым покрытием, укладка тротуарной плитки. Ни одна из этих работ не может обойтись без такого строительного оборудования как виброплита. Арендный парк компании Стерх обеспечит Вас виброплитами массой от 90 до 500 кг 
          img(src='images/news-image.jpg' alt='').f__r.img--right
          p Уплотнение грунта при дорожном строительстве, работа с асфальтовым покрытием, укладка тротуарной плитки. Ни одна из этих работ не может обойтись без такого строительного оборудования как виброплита. Арендный парк компании Стерх обеспечит Вас виброплитами массой от 90 до 500 кг Уплотнение грунта при дорожном строительстве, работа с асфальтовым покрытием, укладка тротуарной плитки. 
          
          .other-news.flex.j-c__s-b.a-i__c
            a(href='#').button--nav Предыдущая новость
            a(href='category-news.html').button.button--blue ВСЕ НОВОСТИ
            a(href='#').button--nav Следующая новость
    include inc/footer.pug
