@import 'inc/fonts.styl'

@import 'plugins/wrd-reset.styl'
@import 'plugins/wrd-atomic.styl'

:root
  --green #98cb01


.container
  max-width 1280px
  margin auto
  left 0
  right 0
  width 100%
.pd-200
  padding-left 200px
  padding-right 200px

@import 'inc/header.styl'
@import 'inc/footer.styl'

@import 'section/initial-screen.styl'
@import 'section/section-goods.styl'
@import 'section/section-rent.styl'
@import 'section/section-shema.styl'
@import 'section/section-advantages.styl'



@import 'adaptive/adaptive.styl'
